@page "/portfolio/quad-bikes"
<PageHeader BackgroundURL="Images/quad-bikes-2.png">
    <h1 class="m-0">Quad Bikes</h1>
</PageHeader>

<div class="bg-dark p-2  mt-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col">
                <img src="Images/quad-bikes-2.png" class="img-fluid">
            </div>
            <div class="col-md text-white text-md-left text-center mt-3 mt-md-0">
                <h2>
                    Martyn Elwell
                </h2>
                <p class="m-0">
                    Text goes here
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
