@page "/portfolio/quad-bikes"
<PageHeader BackgroundURL="Images/quad-bikes-2.png">
    <h1 class="m-0">Quad Bikes</h1>
</PageHeader>


<Banner Colour="light" TextPosition=Banner.TextPositionEnum.Right>
    <ImageContent>
        <img src="Images/quad-bikes-2.png" class="img-fluid" style="border-radius: 2%">
    </ImageContent>
    <TextContent>
        <h2>
            Martyn Elwell
        </h2>
        <p class="m-0">
            Text goes here
        </p>
    </TextContent>
</Banner>
<Banner Colour="dark" TextPosition=Banner.TextPositionEnum.Left>
    <ImageContent>
        <img src="Images/quad-bikes-2.png" class="img-fluid" style="border-radius: 2%">
    </ImageContent>
    <TextContent>
        <h2>
            Martyn Elwell
        </h2>
        <p class="m-0">
            Text goes here
        </p>
    </TextContent>
</Banner>

<Banner Colour="light" TextPosition=Banner.TextPositionEnum.Left>
    <ImageContent>
        <img src="Images/quad-bikes-2.png" class="img-fluid" style="border-radius: 2%">
    </ImageContent>
    <TextContent>
        <h2>
            Martyn Elwell
        </h2>
        <p class="m-0">
            Text goes here
        </p>
    </TextContent>
</Banner>

@code {

}
