<div class="bg-dark mt-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md text-white text-md-left text-center order-lg-1 order-1 py-3">
                <a class="text-white" href="contact"><u>Contact me</u></a>
            </div>
            <div class="col-lg-6 col-12 text-white text-center order-lg-2 order-3 py-3">
                © Copyright Martyn Elwell 2024 all rights reserved.
            </div>
            <div class="col-md text-white text-md-right text-center order-lg-3 order-md-2 fa-2x py-3">
                <a href="" class="text-white" target="_blank"><i class="fa-brands fa-youtube fa-fw"></i></a>
                <a href="" class="text-white ml-1" target="_blank"><i class="fa-brands fa-instagram fa-fw"></i></a>
                <a href="" class="text-white ml-1" target="_blank"><i class="fa-brands fa-linkedin fa-fw"></i></a>
                <a href="" class="text-white ml-1" target="_blank">
                    @* 2Q28 Logo using fontawesome *@
                    <span class="fa-layers fa-fw">
                        <i class="fa-solid  fa-square"></i>
                        <span class="fa-layers-text text-dark two-q-28" data-fa-transform="shrink-7.5 up-3.5">2Q</span>
                        <span class="fa-layers-text text-dark two-q-28" data-fa-transform="shrink-7.5 down-3.5">28</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
