@* <div>
    <div class="container py-3">
        <img src="images/rebel_alliance_logo.svg" height="40px" />
    </div>
</div> *@

<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0">
    <div class="container">
        <a class="navbar-brand" href="#">Martyn Elwell</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPrimary"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarPrimary">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <NavLink class="nav-link px-5 py-3 mx-2" href="" Match="NavLinkMatch.All">
                        <i class="fa-sharp fa-solid fa-house fa-fw mr-2 d-sm-none"></i>Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link px-5 py-3 mx-2" href="portfolio" Match="NavLinkMatch.All">
                        <i class="fa-sharp fa-solid fa-briefcase-blank fa-fw mr-2 d-sm-none"></i>Portfolio
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link px-5 py-3 mx-2" href="cv" Match="NavLinkMatch.All">
                        <i class="fa-sharp fa-solid fa-files fa-fw mr-2 d-sm-none"></i>CV
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link px-5 py-3 mx-2" href="contact" Match="NavLinkMatch.All">
                        <i class="fa-sharp fa-solid fa-paper-plane fa-fw mr-2 d-sm-none"></i>Contact
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
